@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    html {
        scroll-behavior: smooth;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -webkit-tap-highlight-color: transparent;
    }

    body {
        @apply min-w-[300px] font-roboto text-font-grey;
    }

    .appWrapper {
        @apply w-full  justify-center h-[calc(100vh-200px)] mx-auto px-2;
    }

    .footerLinkText {
        @apply text-sm text-black hover:text-font-grey
    }

    .fadeIn {
        animation: fadeInAnimation ease 1s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    @keyframes fadeInAnimation {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    .flip {
        backface-visibility: visible !important;
        animation: flip 2s ease 50;
    }

    @keyframes flip {
        0% {
            transform: perspective(400px) rotateY(0);
            animation-timing-function: ease-out;
        }
        40% {
            transform: perspective(400px) translateZ(100px) rotateY(170deg);
            animation-timing-function: ease-out;
        }
        50% {
            transform: perspective(400px) translateZ(100px) rotateY(190deg) scale(1);
            animation-timing-function: ease-in;
        }
        80% {
            transform: perspective(400px) rotateY(360deg) scale(.95);
            animation-timing-function: ease-in;
        }
        100% {
            transform: perspective(400px) scale(1);
            animation-timing-function: ease-in;
        }
    }

}


@font-face {
    font-family: "Roboto";
    src: url(/fonts/Roboto-Light.ttf) format("opentype");
    font-weight: 300;
}

@font-face {
    font-family: "Roboto";
    src: url(/fonts/Roboto-Regular.ttf) format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: url(/fonts/Roboto-Medium.ttf) format("opentype");
    font-weight: 500;
}

@font-face {
    font-family: "Roboto";
    src: url(/fonts/Roboto-SemiBold.ttf) format("opentype");
    font-weight: 600;
}

@font-face {
    font-family: "Roboto";
    src: url(/fonts/Roboto-Bold.ttf) format("opentype");
    font-weight: 700;
}

@font-face {
    font-family: "Roboto";
    src: url(/fonts/Roboto-ExtraBold.ttf) format("opentype");
    font-weight: 900;
}